html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0   
    
   
}

body {
    background-color: var(--dark-background-2);
    font-family: var(--font-family-base), sans-serif;
    color: var(--dark-text-high);
    list-style: none;
    text-decoration: none;

}

a {
    cursor: pointer;
    text-decoration: none;
}


li {
    list-style: none;
}

header {
    z-index: 2;
    display: flex;
    background-color: var(--dark-background-1);
    height: 96px;
    align-items: center;
    gap: 24px;
    position: fixed;
    top:0;
    width: 100%;

}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 0 0 160px;
}
nav svg {
    margin-right: 24px;
}
nav a {
    padding: 16px 16px 16px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    display: flex;
    align-items: center;
    height: 96px;
    text-decoration: none;
    color: var(--dark-text-high);
    transition: all ease 220ms 0s;
}

nav a:hover {
    color: var(--primary-base);
    border-bottom: 1px solid var(--primary-base);
}

header button {
    font-family: var(--font-family-base);
    color: var(--light-text-high);
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: left;
    padding: 16px 24px;
    transition: background-color ease 220ms;
    width: 400px;
}

header button:not(.iconbutton):hover {
    background-color: var(--primary-base);
    color: var(--light-text-high);
   
}

.iconbutton {
    display: none;

}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
    gap: 160px;
    overflow: hidden;
    

}

.banner .display {
    max-width: 1320px;
}


.banner h1 span {
    color: var(--primary-base);
  
}

@keyframes scroll {
    
    from {
        opacity: 1.0;
        transform: translateY(0);
    }
    to  {
        opacity: 0.0;
        transform: translateY(1.2rem);
    }
  }

.banner svg {
    animation: scroll 1s;
    animation-iteration-count: infinite; 
    
}


.chips-group {
    width: 100%;

}

.chips-group .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.chips-group .chip {
    border-radius: 500px;
    border: 4px solid var(--primary-base);
    font-family: var(--font-family-base);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 24px;
    width: max-content;
    white-space: nowrap;
    transition-property: transform;
}

.tags {
    display: flex;
    gap: 16px;
    align-items: center;
}

.tag {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    border-radius: 500px;
    border: 2px solid var(--primary-base);
    padding: 8px;
    color: var(--dark-text-high);
}

.about {
    display: flex;
    padding: 160px;
    justify-content: space-between;
    gap: 80px;
    background: linear-gradient(180deg, #1E1E1E 0%, #323232 100%);
}

.about .paragraph-1 {
    margin-bottom: 40px;
    color: var(--dark-text-medium);

}
.about h3 {
    margin-bottom: 24px;

}

.info { 
    flex-grow: 1; 
    max-width: 620px;
}

.socialbuttons {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}



.socialbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border: none;
    background-color: transparent;
    transition: border ease 220ms;
    padding: 0px;
}
.socialbutton:hover {
    border-bottom: 1px solid var(--light-border-1);
   
}

.profile {
    /* height: fit-content; */
    object-fit: cover;
    border-bottom: 32px solid var(--primary-base);
}

.work-banner {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background-3);
    color: var(--dark-text-high);
    text-align: left;
    padding: 200px 160px 0 160px;
    gap: 32px;
}

.work-banner > p {
    color: var(--dark-text-medium);
    max-width: 620px;

}

.project-grid {
    display: flex;
    align-items: center;
    background-color: var(--dark-background-3);
    padding: 160px ;
    gap: 40px;
}

.project-grid a {
    text-decoration: none;
    flex: 1;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-background-1);
    transition: background-color ease 220ms;
}

.project-card.disabled {
    cursor: not-allowed;
}

.project-card:hover  {
    background-color: var(--dark-background-2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.2);
}


.thumb {
    background-color: var(--dark-background-2);
    transition: all ease 220ms;
}

.thumb img {
    width: 100%;
    height: 100%;
}


.info-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    gap: 32px;
    color: var(--dark-text-low);
    height: 460px;
}



.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px;
}

.services h3 {
    width: 100%;
    text-align: center;
}

.services > svg {
    position: absolute;
    right: -160px;
    margin: 0 auto;
    z-index: -1;
    transition: all ease-in 480ms;
    min-width: 1440px;
    
}

.services > .tags {
    flex-wrap: wrap;
    width: 870px;
    justify-content: center;
    
}

.services > .tags > .tag {
    font-size: 24px;
    padding: 16px;
}


.footer {
    display: flex;
    padding: 80px;
    height: 600px;
    gap: 24px;
    background-color: var(--dark-background-1);
    align-items: center;
    align-items: flex-end;
}

.footer p {
    color: var(--dark-text-low);
    width: 100%;
    text-align: right;
}



.drawer-menu { 
    visibility: none; 
}

.drawer-menu a {
    display: none;
}



.project-head {
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: auto;
    align-items: flex-start;
    padding: 160px;
    position: relative;
}

.project-head img {
    width: 100%;
    height: 100%;
}

.project-head .iconbutton {
    display: flex;
    background-color: transparent;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.project-head  .display {
    text-align: left;
    flex: 1;
}


.project-head h3 {
    color: var(--dark-text-low);
    max-width: 996px;
}



.project-head div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.content {
    display: flex;
    flex-direction: column; 
    padding: 160px;
    gap: 80px;
}



.content p {
    color: var(--dark-text-medium);
    max-width: 856px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.row :is(h3,h2) {
    flex:1;
    max-width: 664px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 856px;
    flex: 1;
}

.content-light {
    background-color: var(--light-background-2);
    color: var(--light-text-high);
}

.content-light p {

    color: var(--light-text-low);
}

.content-light h3 {
    max-width: 664px;
    color: var(--light-text-medium);
}

.docs-base {
    background-color: var(--light-background-2);
    width: 100%;
    padding: 80px;
}
.docs {
    background-color: var(--dark-background-2);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 0;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

iframe {
    padding-left: 160px;
    padding-right: 160px;
    background-color: var(--light-background-3)
}

.docs img {
    width: 705px;

}

.docs .texts{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 488px;

}

.docs h3 {
    color: var(--dark-text-high);
}

.docs p {
    color: var(--dark-text-medium);
}

.asset-flow {
    width: 100%;
    display: flex;
    background-color: var(--light-background-3);
    padding: 80px 160px;
}


iframe {
    width: 100%;
    height: 800px;
    border: 0;
}


.mockup {
    background-image: url(../assets/mockups.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}